<div class="content">
    <div class="grid-container">
        <div class="grid-item">
            <img class="imagen" [src]="userArray.image" alt="Avatar">
            <div><h4><b>{{userArray.name}}</b></h4></div>
            <p>{{userArray.id}}</p>
            <p>{{userArray.gender}}</p>
            <p>{{userArray.species}}</p>
            <div class="spaces">
                <p>{{userArray.location.name}}</p>
            </div>
            <p>{{userArray.status}}</p>
        </div>
    </div>
</div>